<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Regresar"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-input [(ngModel)]="nombres"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Fecha Nacimiento:</ion-label>
      <ion-input type="date" [(ngModel)]="fechaNacimiento" (ionChange)="calcularEdad()"></ion-input>
    </ion-item>

    <ion-note color="danger" *ngIf="fechaNacimiento && !esMayor">
      Debes ser mayor de 18 años
    </ion-note>
  </ion-list>

  <ion-button expand="block" (click)="enviar()" [disabled]="!nombres || !fechaNacimiento || !esMayor">
    Registrarse
  </ion-button>
</ion-content>